<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ .Site.BaseURL }}index.xml" />

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css" integrity="sha384-mll67QQwcc1Dh3JH1Q4N+zdaKeFgU3+X0cJ2u7zOe9H5ElRzE+JooJ4qaeQnLmfY" crossorigin="anonymous">

<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.js" integrity="sha384-J6qa484f+968cRRSB2LE6EvsI3QgWbVW1mCBwDnd1wHfK6q50vZtE0w5KZ3kzY3C" crossorigin="anonymous"></script>

<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/contrib/auto-render.min.js" integrity="sha384-mll67QQwcc1Dh3JH1Q4N+zdaKeFgU3+X0cJ2u7zOe9H5ElRzE+JooJ4qaeQnLmfY" crossorigin="anonymous"></script>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(
            document.body,
            {
                delimiters: [
                    // Modo Display: Doble dólar (funciona para $$E = mc^2$$)
                    {left: "$$", right: "$$", display: true}, 
                    // Modo Display: Corchetes (funciona para \[\mathcal{T} = ...\])
                    {left: "\\[", right: "\\]", display: true}, 
                    // Modo Inline: Dólar simple (funciona para $t \in \mathbb{R}$)
                    {left: "$", right: "$", display: false},
                    // Modo Inline: Paréntesis (funciona para \(t \in \mathbb{R}\))
                    {left: "\\(", right: "\\)", display: false} 
                ]
            }
        );
    });
</script>

{{- /* Styles */}}

{{- $includes := slice }}
{{- $includes = $includes | append (" " | resources.FromString "assets/css/includes-blank.css") }}

{{- if not (eq site.Params.assets.disableScrollBarStyle true) }}
    {{- $ScrollStyle := (resources.Get "css/includes/scroll-bar.css") }}
    {{- $includes = (append $ScrollStyle $includes) }}
{{- end }}

{{- $includes_all := $includes | resources.Concat "assets/css/includes.css" }}

{{- $theme_vars := (resources.Get "css/core/theme-vars.css") }}
{{- $reset := (resources.Get "css/core/reset.css") }}
{{- $media := (resources.Get "css/core/zmedia.css") }}
{{- $license_css := (resources.Get "css/core/license.css") }}
{{- $common := (resources.Match "css/common/*.css") | resources.Concat "assets/css/common.css" }}
{{- $chroma_styles := (resources.Get "css/includes/chroma-styles.css") }}
{{- $chroma_mod := (resources.Get "css/includes/chroma-mod.css") }}

{{- $core := (slice $theme_vars $reset $common $chroma_styles $chroma_mod $includes_all $media) | resources.Concat "assets/css/core.css" | resources.Minify }}
{{- $extended := (resources.Match "css/extended/*.css") | resources.Concat "assets/css/extended.css" | resources.Minify }}

{{- $stylesheet := (slice $license_css $core $extended) | resources.Concat "assets/css/stylesheet.css" }}

{{- if not site.Params.assets.disableFingerprinting }}
  {{- $stylesheet = $stylesheet | fingerprint }}
  <link crossorigin="anonymous" href="{{ $stylesheet.RelPermalink }}" integrity="{{ $stylesheet.Data.Integrity }}" rel="preload stylesheet" as="style">
{{- else }}
  <link crossorigin="anonymous" href="{{ $stylesheet.RelPermalink }}" rel="preload stylesheet" as="style">
{{- end }}

{{/* ✅ Carga personalizada para custom.css */}}
{{- $customCSS := resources.Get "custom.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $customCSS.RelPermalink }}" integrity="{{ $customCSS.Data.Integrity }}">


<link rel="icon" href="{{ .Site.Params.favicon }}" type="image/x-icon">
<!-- Favicon Multiplataforma -->
<link rel="icon" type="image/x-icon" href="/favicon.ico">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">


<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-48NSGTEX0J"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-48NSGTEX0J');
</script>
</head>